<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dataflair.reminderapp">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name="com.dataflair.reminderapp.splashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.dataflair.reminderapp.ReminderActivity" />
        <activity android:name="com.dataflair.reminderapp.MainActivity">


        </activity>

        <receiver android:name="com.dataflair.reminderapp.AlarmBrodcast" />
    </application>

</manifest>